/*-------------------Universal------------------------*/
*{
    margin: 5px;
}

/*-------------------Header------------------------*/
.flex-header{
    background-color: #F6F1E9;
    font-family: "Bungee", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header-nav{
   display: flex;
   flex-direction: row; 
   flex-wrap: nowrap;
   justify-content: space-between;
}

.header-nav li{
    list-style-type: none;
    margin: 3px;

}

.header-nav li a, .header-compras a{
    text-decoration: none;
    color: #D1342C;
}

.header-nav li a:hover, .header-compras a:hover {
  color: #0F1C35
}

.header-compras{
   display: flex;
   flex-direction: row; 
   flex-wrap: nowrap;
   align-items: center;
   justify-content: end;
}

/*-------------------Main------------------------*/


/*-------------------Footer------------------------*/

.flex-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #D1342C;
}

.footer-row{
    margin-right: 30px;
}

.footer-row p{
    font-family: "Bungee", sans-serif;
    color: #0F1C35;
}

.medioPago, .redesSociales{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.footer-contacto p{
    color: #F6F1E9;
    font-family: "Bebas Neue", sans-serif;
}

.medioPago i, .redesSociales i{

    color: #F6F1E9;
}