/*-------------------Universal------------------------*/
*{
    margin: 0 5px 0 5px;
}

h2{
    font-family: "Bungee", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #D1342C;
}

/*-------------------Header------------------------*/
.flex-header{
    background-color: #F6F1E9;
    font-family: "Bungee", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navbar {
  background-color: #F6F1E9;
  padding: 10px 20px;
  position: relative;
}

/* .header-nav{
   display: flex;
   flex-direction: row; 
   flex-wrap: nowrap;
   justify-content: space-between;
} */

.header-nav {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.header-nav li{
    list-style-type: none;
    margin: 3px;
}

.header-nav li a {
  color: #D1342C;
  text-decoration: none;
  font-weight: bold;
}

.header-compras a{
    text-decoration: none;
    color: #D1342C;
}

.header-nav li a:hover, .header-compras a:hover {
  color: #0F1C35
}

.header-compras{
   display: flex;
   flex-direction: row; 
   flex-wrap: nowrap;
   align-items: center;
   justify-content: end;
}

.menu-checkbox {
  display: none;
}

/* Ícono hamburguesa */
.menu-icon {
  display: none;
  font-size: 26px;
  color: #D1342C;
  cursor: pointer;
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .header-nav {
    display: none;
    flex-direction: column;
    background-color: #F6F1E9;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
  }

  /* Mostrar menú cuando el checkbox está checkeado */
  .menu-checkbox:checked + .menu-icon + .header-nav {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}

/*------------------Modal de Mis Compras----------*/

.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal-contenido {
  background-color: white;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  position: relative;
  text-align: center;
}

.cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

/*-------------------Main------------------------*/
.flex-main{
    margin-top: 25px;
}

.section-manga, .section-anime, .section-quienesSomos, .section-tienda{
    margin-top: 25px;
}
.section-manga p,.section-anime p{
    font-family: "Russo One", sans-serif;
}

.section-medios-pagos{
    background-color: #74BEE9;
    height: 20vh; /* 40% de la altura de la pantalla */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 15px;
    margin-bottom: 15px;
}

.flex-manga{
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap; 
    width: 100%;
    gap: 1rem; /* Espacio entre elementos */
}

.manga-card-conteiner{
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  padding-left: 15px;
  
}

.card{
    border: 1px solid #F6F1E9;
    background-color: #F6F1E9;
    border-radius: 5px;
    box-shadow: 0px 2px 0px rgb(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;     
    flex: 1 1 calc(25% - 1rem);
    margin: 5px 5px 5px 0;
    padding: 15px 0 15px 0;

}

.card h2{
    color: #D1342C ;
    font-family: "Chelsea Market", system-ui;
    font-style: normal; 
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    font-size: 24px;
}

.card p{
    color: black;
    text-align: center;
}

.card button {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color:beige;
    background-color: #D1342C;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

.card_info{
    margin-bottom: 15px;
}

.card_btn{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.manga-aside{
    width: 20%;
    background-color: #D1342C;
    opacity: 0.8;
}

.manga-aside h3{
    font-family: "Chelsea Market", system-ui;
    font-weight: bolder;
    font-style: normal; 
    color: #F6F1E9; 
    text-align: center; 
    padding: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.flex-mas-vendidos {
    display: flex;
    flex-direction: column;
    align-items: center;       
    justify-content: space-between; 
    height: auto; 
}

.flex-mas-vendidos img {
    justify-items: center;
}

.flex-anime{
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-quienesSomos{
    /* height: 330px; */
    height:auto;
    background-color: #F6F1E9;
    border-radius: 5px;
    display: flex; 
}

.flex-quienesSomos div p{
    padding: 10px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
    color: #0F1C35;
}

.section-tienda{
    background-image: url('../img/Tienda\ de\ Manga\ y\ Anime.png');
    background-repeat: no-repeat;  
    background-color: #F6F1E9;  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;   
    justify-content: space-between;
}


.section-tienda  > .div-tienda {
    flex: 1;              /* Que todos crezcan por igual */
    padding: 16px;        
    box-sizing: border-box; 
}

.div-tienda h3{
    font-family: "Chelsea Market", system-ui;
    font-weight: bolder;
    font-style: normal; 
    background-color: rgba(0, 0, 0, 0.6);  
    color: #F5C518;
    padding: 8px 12px;
    border-radius: 1px;
    display: inline-block;
}

.div-tienda p{
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-style: normal; 
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);  
}
/* 
.card-form label{
    font-family: "Chelsea Market", system-ui;
    font-weight: bolder;
    font-style: normal; 
    color: #F5C518;
}

.card-form input{
    box-sizing: border-box;
}
textarea{
    width: auto;
    height: 165px;
    resize: vertical;
    padding: 15px;
    font-size: 16px;
    box-sizing: border-box;
}

.card-form-btn{    
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

.card-form-btn button{
    margin: 25px;
    border-radius: 5px;
    padding: 10px;    
    font-family: "Chelsea Market", system-ui;
    font-weight: bolder;
    width: 200px;
    border-style: none;
} */

.btnEnviar{
    background-color: #D1342C;
    color:#F6F1E9
}

.btnEnviar:hover{
    background-color: #F5C518;
    color:#D1342C
}

.btnCancelar{
    background-color: gray;
    color: #FFF;
}

.btnCancelar:hover{
    background-color: #0F1C35;
    color: #FFF;
}

/*-------------------Footer------------------------*/

.flex-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #D1342C;
    margin-top: 15px;
}

.footer-row{
    margin-right: 30px;
}

.footer-row p{
    padding-top: 15px;
    font-family: "Bungee", sans-serif;
    color: #0F1C35;
}

.medioPago, .redesSociales{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.footer-contacto p{
    color: #F6F1E9;
    font-family: "Montserrat", sans-serif;
}

.medioPago i, .redesSociales i{
    color: #F6F1E9;
}

/*---------------------Favoritos-----------------*/

.bntEliminar{
    background-color: #D1342C;
    color: #F6F1E9;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    border-radius: 5px;
    padding: 5px;
    border-color: #D1342C;
}
