/*-------------------Universal------------------------*/
*{
    margin: 5px;
}

h2{
    font-family: "Bungee", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #D1342C;
}

/*-------------------Header------------------------*/
.flex-header{
    background-color: #F6F1E9;
    font-family: "Bungee", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header-nav{
   display: flex;
   flex-direction: row; 
   flex-wrap: nowrap;
   justify-content: space-between;
}

.header-nav li{
    list-style-type: none;
    margin: 3px;

}

.header-nav li a, .header-compras a{
    text-decoration: none;
    color: #D1342C;
}

.header-nav li a:hover, .header-compras a:hover {
  color: #0F1C35
}

.header-compras{
   display: flex;
   flex-direction: row; 
   flex-wrap: nowrap;
   align-items: center;
   justify-content: end;
}

/*-------------------Main------------------------*/
.section-manga p,.section-anime p{
    font-family: "Russo One", sans-serif;
}

.flex-manga{
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap; 
    width: 100%;
    /* height: 100vh; */
}

.manga-card-conteiner{
  width:80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 30px;
}

.card{
    border: 1px solid #F6F1E9;
    height: 350px;
    background-color: #F6F1E9;
    border-radius: 5px;
    box-shadow: 0px 2px 0px rgb(0,0,0,0.6);
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-bottom: 10px; */
}

.card h2{
    color: #D1342C ;
    font-family: "Chelsea Market", system-ui;
    font-style: normal; 
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    font-size: 24px;
}

.card p{
    color: black;
    text-align: center;
}

.card a {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color:beige;
    background-color: #D1342C;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

.manga-aside{
    width: 20%;
    background-color: #D1342C;
    opacity: 0.8;
}

.manga-aside h3{
    font-family: "Chelsea Market", system-ui;
    font-weight: bolder;
    font-style: normal; 
    color: #F6F1E9; 
    text-align: center; 
    padding: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.flex-mas-vendidos {
    display: flex;
    flex-direction: column;
    align-items: center;       
    justify-content: space-between; 
    height: auto; 
}

.flex-mas-vendidos img {
    justify-items: center;
}

.flex-anime{
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-quienesSomos{
    height: 300px;
    background-color: #F6F1E9;
    border-radius: 5px;
    display: flex; 
}

.flex-quienesSomos div p{
    padding: 10px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
    color: #0F1C35;
}

.section-tienda{
    background-image: url('../img/Tienda\ de\ Manga\ y\ Anime.png');
    background-repeat: no-repeat;  
    background-color: #F6F1E9;  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;   
    justify-content: space-between;
}


.section-tienda  > .div-tienda {
    flex: 1;              /* Que todos crezcan por igual */
    padding: 16px;        
    box-sizing: border-box; 
}

.flex-contacto{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);  /* Fondo negro con transparencia */
}

.card-form{
    display: flex;
    flex-direction: column;
}

.div-tienda h3{
    font-family: "Chelsea Market", system-ui;
    font-weight: bolder;
    font-style: normal; 
    background-color: rgba(0, 0, 0, 0.6);  
    color: #F5C518;
    padding: 8px 12px;
    border-radius: 1px;
    display: inline-block;
}

.div-tienda p{
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-style: normal; 
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);  
}

.card-form label{
    font-family: "Chelsea Market", system-ui;
    font-weight: bolder;
    font-style: normal; 
    color: #F5C518;
}

.card-form input{
    box-sizing: border-box;
}
textarea{
    width: auto;
    height: 165px;
    resize: vertical;
    padding: 15px;
    font-size: 16px;
    box-sizing: border-box;
}

.card-form-btn{    
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

.card-form-btn button{
    margin: 25px;
    border-radius: 5px;
    padding: 10px;    
    font-family: "Chelsea Market", system-ui;
    font-weight: bolder;
    width: 200px;
    border-style: none;
}

.btnEnviar{
    background-color: #D1342C;
    color:#F6F1E9
}

.btnEnviar:hover{
    background-color: #F5C518;
    color:#D1342C
}

.btnCancelar{
    background-color: gray;
    color: #FFF;
}

.btnCancelar:hover{
    background-color: #0F1C35;
    color: #FFF;
}

/*-------------------Footer------------------------*/

.flex-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #D1342C;
}

.footer-row{
    margin-right: 30px;
}

.footer-row p{
    font-family: "Bungee", sans-serif;
    color: #0F1C35;
}

.medioPago, .redesSociales{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.footer-contacto p{
    color: #F6F1E9;
    font-family: "Montserrat", sans-serif;
}

.medioPago i, .redesSociales i{
    color: #F6F1E9;
}